# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv

# Testing and Linters
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Build distributions
dist/
build/
*.egg-info/

# Project Specific
*.db
*.sqlite
*.sqlite3
.files/
data/
