---
- name: Ensure Python 3 is present
  command: python3 --version
  register: py_version
  changed_when: false

- name: Create Virtual Environment
  command: python3 -m venv "{{ playbook_dir }}/../venv"
  args:
    creates: "{{ playbook_dir }}/../venv"

- name: Install Requirements
  command: "{{ playbook_dir }}/../venv/bin/pip install -r requirements.txt"
  args:
    chdir: "{{ playbook_dir }}/.." 
